<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/cleavland_heart_data_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Only 14 attributes used:
1. #3 (age)
2. #4 (sex)
3. #9 (cp)
4. #10 (trestbps)
5. #12 (chol)
6. #16 (fbs)
7. #19 (restecg)
8. #32 (thalach)
9. #38 (exang)
10. #40 (oldpeak)
11. #41 (slope)
12. #44 (ca)
13. #51 (thal)
14. #58 (num) (the predicted attribute)

In [37]:
import pandas as pd

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data', 
    sep=',', 
    header=None,
    names = [
    'AGE'
    ,'SEX'
    ,'cp'
    ,'trestbps'
    ,'chol'
    ,'fbs'
    ,'restecg'
    ,'thalach'
    ,'exang'
    ,'oldpeak'
    ,'slope'
    ,'ca'
    ,'thal'
    ,'class'
]
)

print(df)

      AGE  SEX   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  class
0    63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0      0
1    67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      2
2    67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
3    37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
4    41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0
..    ...  ...  ...       ...    ...  ...      ...    ...  ...   ...    ...
298  45.0  1.0  1.0     110.0  264.0  ...      1.2    2.0  0.0   7.0      1
299  68.0  1.0  4.0     144.0  193.0  ...      3.4    2.0  2.0   7.0      2
300  57.0  1.0  4.0     130.0  131.0  ...      1.2    2.0  1.0   7.0      3
301  57.0  0.0  2.0     130.0  236.0  ...      0.0    2.0  1.0   3.0      1
302  38.0  1.0  3.0     138.0  175.0  ...      0.0    1.0    ?   3.0      0

[303 rows x 14 columns]

In [38]:
df.to_csv("/content/drive/MyDrive/Clev_DataSet/clev_data_original.csv")

In [39]:
cols = list(df.columns)
cols = [cols[-1]] + cols[:-1]
df = df[cols]

In [40]:
df.head(5)

   class   AGE  SEX   cp  trestbps  ...  exang  oldpeak  slope   ca  thal
0      0  63.0  1.0  1.0     145.0  ...    0.0      2.3    3.0  0.0   6.0
1      2  67.0  1.0  4.0     160.0  ...    1.0      1.5    2.0  3.0   3.0
2      1  67.0  1.0  4.0     120.0  ...    1.0      2.6    2.0  2.0   7.0
3      0  37.0  1.0  3.0     130.0  ...    0.0      3.5    3.0  0.0   3.0
4      0  41.0  0.0  2.0     130.0  ...    0.0      1.4    1.0  0.0   3.0

[5 rows x 14 columns]

In [41]:
df.columns[df.isna().any()].tolist()

[]

In [42]:
"""for i,n in enumerate(missing):
  if n > 5:
    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))"""

'for i,n in enumerate(missing):\n  if n > 5:\n    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))'

In [43]:
"""for i in i:
  df[i] = df[i].fillna((df[i].mean()))"""

'for i in i:\n  df[i] = df[i].fillna((df[i].mean()))'

In [44]:
"""df.head()"""

'df.head()'

In [45]:
"""df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))
df['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))
df['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))
df['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"""

"df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))\ndf['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))\ndf['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))\ndf['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"

For rules generations

In [46]:
for i,n in enumerate(df.columns):
  if n=='class':
    df[n] = 'class@' + df[n].astype(str)
  else:
    df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [47]:
df['class'] = df['class'].str.replace('2', '1').str.replace('3', '1').str.replace('4', '1')

In [48]:
df

       class      AGE     SEX      cp  ...  oldpeak    slope       ca     thal
0    class@0  A1@63.0  A2@1.0  A3@1.0  ...  A10@2.3  A11@3.0  A12@0.0  A13@6.0
1    class@1  A1@67.0  A2@1.0  A3@4.0  ...  A10@1.5  A11@2.0  A12@3.0  A13@3.0
2    class@1  A1@67.0  A2@1.0  A3@4.0  ...  A10@2.6  A11@2.0  A12@2.0  A13@7.0
3    class@0  A1@37.0  A2@1.0  A3@3.0  ...  A10@3.5  A11@3.0  A12@0.0  A13@3.0
4    class@0  A1@41.0  A2@0.0  A3@2.0  ...  A10@1.4  A11@1.0  A12@0.0  A13@3.0
..       ...      ...     ...     ...  ...      ...      ...      ...      ...
298  class@1  A1@45.0  A2@1.0  A3@1.0  ...  A10@1.2  A11@2.0  A12@0.0  A13@7.0
299  class@1  A1@68.0  A2@1.0  A3@4.0  ...  A10@3.4  A11@2.0  A12@2.0  A13@7.0
300  class@1  A1@57.0  A2@1.0  A3@4.0  ...  A10@1.2  A11@2.0  A12@1.0  A13@7.0
301  class@1  A1@57.0  A2@0.0  A3@2.0  ...  A10@0.0  A11@2.0  A12@1.0  A13@3.0
302  class@0  A1@38.0  A2@1.0  A3@3.0  ...  A10@0.0  A11@1.0    A12@?  A13@3.0

[303 rows x 14 columns]

In [49]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, stratify = df['class'], test_size = .2)

In [50]:
train.to_csv("/content/drive/MyDrive/Clev_DataSet/clev_train.csv", header=None,index=False)
test.to_csv("/content/drive/MyDrive/Clev_DataSet/clev_test.csv", header=None,index=False)

For RP-growth Data

In [51]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [52]:
uni

           0
0    class@0
1    class@1
2    A1@63.0
3    A1@67.0
4    A1@37.0
..       ...
396    A12@?
397  A13@6.0
398  A13@3.0
399  A13@7.0
400    A13@?

[401 rows x 1 columns]

In [53]:
my_dict = uni.to_dict()

In [54]:
my_dict

{0: {0: 'class@0',
  1: 'class@1',
  2: 'A1@63.0',
  3: 'A1@67.0',
  4: 'A1@37.0',
  5: 'A1@41.0',
  6: 'A1@56.0',
  7: 'A1@62.0',
  8: 'A1@57.0',
  9: 'A1@53.0',
  10: 'A1@44.0',
  11: 'A1@52.0',
  12: 'A1@48.0',
  13: 'A1@54.0',
  14: 'A1@49.0',
  15: 'A1@64.0',
  16: 'A1@58.0',
  17: 'A1@60.0',
  18: 'A1@50.0',
  19: 'A1@66.0',
  20: 'A1@43.0',
  21: 'A1@40.0',
  22: 'A1@69.0',
  23: 'A1@59.0',
  24: 'A1@42.0',
  25: 'A1@55.0',
  26: 'A1@61.0',
  27: 'A1@65.0',
  28: 'A1@71.0',
  29: 'A1@51.0',
  30: 'A1@46.0',
  31: 'A1@45.0',
  32: 'A1@39.0',
  33: 'A1@68.0',
  34: 'A1@47.0',
  35: 'A1@34.0',
  36: 'A1@35.0',
  37: 'A1@29.0',
  38: 'A1@70.0',
  39: 'A1@77.0',
  40: 'A1@38.0',
  41: 'A1@74.0',
  42: 'A1@76.0',
  43: 'A2@1.0',
  44: 'A2@0.0',
  45: 'A3@1.0',
  46: 'A3@4.0',
  47: 'A3@3.0',
  48: 'A3@2.0',
  49: 'A4@145.0',
  50: 'A4@160.0',
  51: 'A4@120.0',
  52: 'A4@130.0',
  53: 'A4@140.0',
  54: 'A4@172.0',
  55: 'A4@150.0',
  56: 'A4@110.0',
  57: 'A4@132.0',
  58: 'A4@117.0',
  59: 'A4@135.0',
  60: 'A4@112.0',
  61: 'A4@105.0',
  62: 'A4@124.0',
  63: 'A4@125.0',
  64: 'A4@142.0',
  65: 'A4@128.0',
  66: 'A4@170.0',
  67: 'A4@155.0',
  68: 'A4@104.0',
  69: 'A4@180.0',
  70: 'A4@138.0',
  71: 'A4@108.0',
  72: 'A4@134.0',
  73: 'A4@122.0',
  74: 'A4@115.0',
  75: 'A4@118.0',
  76: 'A4@100.0',
  77: 'A4@200.0',
  78: 'A4@94.0',
  79: 'A4@165.0',
  80: 'A4@102.0',
  81: 'A4@152.0',
  82: 'A4@101.0',
  83: 'A4@126.0',
  84: 'A4@174.0',
  85: 'A4@148.0',
  86: 'A4@178.0',
  87: 'A4@158.0',
  88: 'A4@192.0',
  89: 'A4@129.0',
  90: 'A4@144.0',
  91: 'A4@123.0',
  92: 'A4@136.0',
  93: 'A4@146.0',
  94: 'A4@106.0',
  95: 'A4@156.0',
  96: 'A4@154.0',
  97: 'A4@114.0',
  98: 'A4@164.0',
  99: 'A5@233.0',
  100: 'A5@286.0',
  101: 'A5@229.0',
  102: 'A5@250.0',
  103: 'A5@204.0',
  104: 'A5@236.0',
  105: 'A5@268.0',
  106: 'A5@354.0',
  107: 'A5@254.0',
  108: 'A5@203.0',
  109: 'A5@192.0',
  110: 'A5@294.0',
  111: 'A5@256.0',
  112: 'A5@263.0',
  113: 'A5@199.0',
  114: 'A5@168.0',
  115: 'A5@239.0',
  116: 'A5@275.0',
  117: 'A5@266.0',
  118: 'A5@211.0',
  119: 'A5@283.0',
  120: 'A5@284.0',
  121: 'A5@224.0',
  122: 'A5@206.0',
  123: 'A5@219.0',
  124: 'A5@340.0',
  125: 'A5@226.0',
  126: 'A5@247.0',
  127: 'A5@167.0',
  128: 'A5@230.0',
  129: 'A5@335.0',
  130: 'A5@234.0',
  131: 'A5@177.0',
  132: 'A5@276.0',
  133: 'A5@353.0',
  134: 'A5@243.0',
  135: 'A5@225.0',
  136: 'A5@302.0',
  137: 'A5@212.0',
  138: 'A5@330.0',
  139: 'A5@175.0',
  140: 'A5@417.0',
  141: 'A5@197.0',
  142: 'A5@198.0',
  143: 'A5@290.0',
  144: 'A5@253.0',
  145: 'A5@172.0',
  146: 'A5@273.0',
  147: 'A5@213.0',
  148: 'A5@305.0',
  149: 'A5@216.0',
  150: 'A5@304.0',
  151: 'A5@188.0',
  152: 'A5@282.0',
  153: 'A5@185.0',
  154: 'A5@232.0',
  155: 'A5@326.0',
  156: 'A5@231.0',
  157: 'A5@269.0',
  158: 'A5@267.0',
  159: 'A5@248.0',
  160: 'A5@360.0',
  161: 'A5@258.0',
  162: 'A5@308.0',
  163: 'A5@245.0',
  164: 'A5@270.0',
  165: 'A5@208.0',
  166: 'A5@264.0',
  167: 'A5@321.0',
  168: 'A5@274.0',
  169: 'A5@325.0',
  170: 'A5@235.0',
  171: 'A5@257.0',
  172: 'A5@164.0',
  173: 'A5@141.0',
  174: 'A5@252.0',
  175: 'A5@255.0',
  176: 'A5@201.0',
  177: 'A5@222.0',
  178: 'A5@260.0',
  179: 'A5@182.0',
  180: 'A5@303.0',
  181: 'A5@265.0',
  182: 'A5@309.0',
  183: 'A5@307.0',
  184: 'A5@249.0',
  185: 'A5@186.0',
  186: 'A5@341.0',
  187: 'A5@183.0',
  188: 'A5@407.0',
  189: 'A5@217.0',
  190: 'A5@288.0',
  191: 'A5@220.0',
  192: 'A5@209.0',
  193: 'A5@227.0',
  194: 'A5@261.0',
  195: 'A5@174.0',
  196: 'A5@281.0',
  197: 'A5@221.0',
  198: 'A5@205.0',
  199: 'A5@240.0',
  200: 'A5@289.0',
  201: 'A5@318.0',
  202: 'A5@298.0',
  203: 'A5@564.0',
  204: 'A5@246.0',
  205: 'A5@322.0',
  206: 'A5@299.0',
  207: 'A5@300.0',
  208: 'A5@293.0',
  209: 'A5@277.0',
  210: 'A5@214.0',
  211: 'A5@207.0',
  212: 'A5@223.0',
  213: 'A5@160.0',
  214: 'A5@394.0',
  215: 'A5@184.0',
  216: 'A5@315.0',
  217: 'A5@409.0',
  218: 'A5@244.0',
  219: 'A5@195.0',
  220: 'A5@196.0',
  221: 'A5@126.0',
  222: 'A5@313.0',
  223: 'A5@259.0',
  224: 'A5@200.0',
  225: 'A5@262.0',
  226: 'A5@215.0',
  227: 'A5@228.0',
  228: 'A5@193.0',
  229: 'A5@271.0',
  230: 'A5@210.0',
  231: 'A5@327.0',
  232: 'A5@149.0',
  233: 'A5@295.0',
  234: 'A5@306.0',
  235: 'A5@178.0',
  236: 'A5@237.0',
  237: 'A5@218.0',
  238: 'A5@242.0',
  239: 'A5@319.0',
  240: 'A5@166.0',
  241: 'A5@180.0',
  242: 'A5@311.0',
  243: 'A5@278.0',
  244: 'A5@342.0',
  245: 'A5@169.0',
  246: 'A5@187.0',
  247: 'A5@157.0',
  248: 'A5@176.0',
  249: 'A5@241.0',
  250: 'A5@131.0',
  251: 'A6@1.0',
  252: 'A6@0.0',
  253: 'A7@2.0',
  254: 'A7@0.0',
  255: 'A7@1.0',
  256: 'A8@150.0',
  257: 'A8@108.0',
  258: 'A8@129.0',
  259: 'A8@187.0',
  260: 'A8@172.0',
  261: 'A8@178.0',
  262: 'A8@160.0',
  263: 'A8@163.0',
  264: 'A8@147.0',
  265: 'A8@155.0',
  266: 'A8@148.0',
  267: 'A8@153.0',
  268: 'A8@142.0',
  269: 'A8@173.0',
  270: 'A8@162.0',
  271: 'A8@174.0',
  272: 'A8@168.0',
  273: 'A8@139.0',
  274: 'A8@171.0',
  275: 'A8@144.0',
  276: 'A8@132.0',
  277: 'A8@158.0',
  278: 'A8@114.0',
  279: 'A8@151.0',
  280: 'A8@161.0',
  281: 'A8@179.0',
  282: 'A8@120.0',
  283: 'A8@112.0',
  284: 'A8@137.0',
  285: 'A8@157.0',
  286: 'A8@169.0',
  287: 'A8@165.0',
  288: 'A8@123.0',
  289: 'A8@128.0',
  290: 'A8@152.0',
  291: 'A8@140.0',
  292: 'A8@188.0',
  293: 'A8@109.0',
  294: 'A8@125.0',
  295: 'A8@131.0',
  296: 'A8@170.0',
  297: 'A8@113.0',
  298: 'A8@99.0',
  299: 'A8@177.0',
  300: 'A8@141.0',
  301: 'A8@180.0',
  302: 'A8@111.0',
  303: 'A8@143.0',
  304: 'A8@182.0',
  305: 'A8@156.0',
  306: 'A8@115.0',
  307: 'A8@149.0',
  308: 'A8@145.0',
  309: 'A8@146.0',
  310: 'A8@175.0',
  311: 'A8@186.0',
  312: 'A8@185.0',
  313: 'A8@159.0',
  314: 'A8@130.0',
  315: 'A8@190.0',
  316: 'A8@136.0',
  317: 'A8@97.0',
  318: 'A8@127.0',
  319: 'A8@154.0',
  320: 'A8@133.0',
  321: 'A8@126.0',
  322: 'A8@202.0',
  323: 'A8@103.0',
  324: 'A8@166.0',
  325: 'A8@164.0',
  326: 'A8@184.0',
  327: 'A8@124.0',
  328: 'A8@122.0',
  329: 'A8@96.0',
  330: 'A8@138.0',
  331: 'A8@88.0',
  332: 'A8@105.0',
  333: 'A8@194.0',
  334: 'A8@195.0',
  335: 'A8@106.0',
  336: 'A8@167.0',
  337: 'A8@95.0',
  338: 'A8@192.0',
  339: 'A8@117.0',
  340: 'A8@121.0',
  341: 'A8@116.0',
  342: 'A8@71.0',
  343: 'A8@118.0',
  344: 'A8@181.0',
  345: 'A8@134.0',
  346: 'A8@90.0',
  347: 'A9@0.0',
  348: 'A9@1.0',
  349: 'A10@2.3',
  350: 'A10@1.5',
  351: 'A10@2.6',
  352: 'A10@3.5',
  353: 'A10@1.4',
  354: 'A10@0.8',
  355: 'A10@3.6',
  356: 'A10@0.6',
  357: 'A10@3.1',
  358: 'A10@0.4',
  359: 'A10@1.3',
  360: 'A10@0.0',
  361: 'A10@0.5',
  362: 'A10@1.6',
  363: 'A10@1.0',
  364: 'A10@1.2',
  365: 'A10@0.2',
  366: 'A10@1.8',
  367: 'A10@3.2',
  368: 'A10@2.4',
  369: 'A10@2.0',
  370: 'A10@2.5',
  371: 'A10@2.2',
  372: 'A10@2.8',
  373: 'A10@3.0',
  374: 'A10@3.4',
  375: 'A10@6.2',
  376: 'A10@4.0',
  377: 'A10@5.6',
  378: 'A10@2.9',
  379: 'A10@0.1',
  380: 'A10@2.1',
  381: 'A10@1.9',
  382: 'A10@4.2',
  383: 'A10@0.9',
  384: 'A10@1.1',
  385: 'A10@3.8',
  386: 'A10@0.7',
  387: 'A10@0.3',
  388: 'A10@4.4',
  389: 'A11@3.0',
  390: 'A11@2.0',
  391: 'A11@1.0',
  392: 'A12@0.0',
  393: 'A12@3.0',
  394: 'A12@2.0',
  395: 'A12@1.0',
  396: 'A12@?',
  397: 'A13@6.0',
  398: 'A13@3.0',
  399: 'A13@7.0',
  400: 'A13@?'}}

In [55]:
my_dict = my_dict[0]

In [56]:
new_dict = dict((value, key) for key, value in my_dict.items())

In [57]:
for col in train:
    train[col] = train[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
train

     class  AGE  SEX  cp  trestbps  ...  exang  oldpeak  slope   ca  thal
118      1    2   43  46        52  ...    348      366    391  393   399
171      0    9   43  46        64  ...    348      360    391  392   399
273      0   28   44  46        60  ...    347      362    390  392   398
49       0    9   43  47        52  ...    347      364    389  392   398
130      0   13   43  47        51  ...    347      358    390  392   399
..     ...  ...  ...  ..       ...  ...    ...      ...    ...  ...   ...
151      0   24   44  46        80  ...    347      356    390  392   398
120      1   12   43  46        52  ...    348      360    391  394   399
107      1    8   43  47        65  ...    347      358    390  395   399
277      0   32   44  47        70  ...    347      360    390  392   398
299      1   33   43  46        90  ...    347      374    390  394   399

[242 rows x 14 columns]

In [59]:
for col in test:
    test[col] = test[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
train.to_csv("/content/drive/MyDrive/Clev_DataSet/clev_rp_train.csv", header=None,index=False)
test.to_csv("/content/drive/MyDrive/Clev_DataSet/clev_rp_test.csv", header=None,index=False)