<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/Hep_data_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribute information: 
     1. Class: DIE, LIVE
     2. AGE: 10, 20, 30, 40, 50, 60, 70, 80
     3. SEX: male, female
     4. STEROID: no, yes
     5. ANTIVIRALS: no, yes
     6. FATIGUE: no, yes
     7. MALAISE: no, yes
     8. ANOREXIA: no, yes
     9. LIVER BIG: no, yes
    10. LIVER FIRM: no, yes
    11. SPLEEN PALPABLE: no, yes
    12. SPIDERS: no, yes
    13. ASCITES: no, yes
    14. VARICES: no, yes
    15. BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00
        -- see the note below
    16. ALK PHOSPHATE: 33, 80, 120, 160, 200, 250
    17. SGOT: 13, 100, 200, 300, 400, 500, 
    18. ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0
    19. PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90
    20. HISTOLOGY: no, yes

In [1]:
import pandas as pd

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data', 
    sep=',', 
    header=None,
    names = ['class'
    ,'AGE'
    ,'SEX'
    ,'STEROID'
    ,'ANTIVIRALS'
    ,'FATIGUE'
    ,'MALAISE'
    ,'ANOREXIA'
    ,'LIVER BIG'
    ,'LIVER FIRM'
    ,'SPLEEN PALPABLE'
    ,'SPIDERS'
    ,'ASCITES'
    ,'VARICES'
    ,'BILIRUBIN'
    ,'ALK PHOSPHATE'
    ,'SGOT'
    ,'ALBUMIN'
    ,'PROTIME'
    ,'HISTOLOGY']
)

print(df)

     class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0        2   30    2       1  ...    18     4.0       ?         1
1        2   50    1       1  ...    42     3.5       ?         1
2        2   78    1       2  ...    32     4.0       ?         1
3        2   31    1       ?  ...    52     4.0      80         1
4        2   34    1       2  ...   200     4.0       ?         1
..     ...  ...  ...     ...  ...   ...     ...     ...       ...
150      1   46    1       2  ...   242     3.3      50         2
151      2   44    1       2  ...   142     4.3       ?         2
152      2   61    1       1  ...    20     4.1       ?         2
153      2   53    2       1  ...    19     4.1      48         2
154      1   43    1       2  ...    19     3.1      42         2

[155 rows x 20 columns]

In [2]:
df.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_data_original.csv")

In [3]:
df.head(5)

   class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0      2   30    2       1  ...    18     4.0       ?         1
1      2   50    1       1  ...    42     3.5       ?         1
2      2   78    1       2  ...    32     4.0       ?         1
3      2   31    1       ?  ...    52     4.0      80         1
4      2   34    1       2  ...   200     4.0       ?         1

[5 rows x 20 columns]

In [4]:
df = df.drop(columns=['BILIRUBIN'])

In [5]:
df

     class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0        2   30    2       1  ...    18     4.0       ?         1
1        2   50    1       1  ...    42     3.5       ?         1
2        2   78    1       2  ...    32     4.0       ?         1
3        2   31    1       ?  ...    52     4.0      80         1
4        2   34    1       2  ...   200     4.0       ?         1
..     ...  ...  ...     ...  ...   ...     ...     ...       ...
150      1   46    1       2  ...   242     3.3      50         2
151      2   44    1       2  ...   142     4.3       ?         2
152      2   61    1       1  ...    20     4.1       ?         2
153      2   53    2       1  ...    19     4.1      48         2
154      1   43    1       2  ...    19     3.1      42         2

[155 rows x 19 columns]

In [6]:
"""import numpy as np
for col in df.columns:
  df[col] = df[col].replace('?', np.NaN)"""

"import numpy as np\nfor col in df.columns:\n  df[col] = df[col].replace('?', np.NaN)"

In [7]:
missing = pd.isnull(df).sum()

In [8]:
missing

class              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [9]:
df.columns[df.isna().any()].tolist()

[]

In [10]:
"""for i,n in enumerate(missing):
  if n > 5:
    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))"""

'for i,n in enumerate(missing):\n  if n > 5:\n    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))'

In [11]:
"""for i in i:
  df[i] = df[i].fillna((df[i].mean()))"""

'for i in i:\n  df[i] = df[i].fillna((df[i].mean()))'

In [12]:
"""df.head()"""

'df.head()'

In [13]:
"""df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))
df['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))
df['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))
df['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"""

"df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))\ndf['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))\ndf['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))\ndf['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"

For rules generations

In [14]:
for i,n in enumerate(df.columns):
  #print(i,n)
  df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [15]:
df

    class    AGE   SEX STEROID  ...     SGOT  ALBUMIN PROTIME HISTOLOGY
0    A0@2  A1@30  A2@2    A3@1  ...   A15@18  A16@4.0   A17@?     A18@1
1    A0@2  A1@50  A2@1    A3@1  ...   A15@42  A16@3.5   A17@?     A18@1
2    A0@2  A1@78  A2@1    A3@2  ...   A15@32  A16@4.0   A17@?     A18@1
3    A0@2  A1@31  A2@1    A3@?  ...   A15@52  A16@4.0  A17@80     A18@1
4    A0@2  A1@34  A2@1    A3@2  ...  A15@200  A16@4.0   A17@?     A18@1
..    ...    ...   ...     ...  ...      ...      ...     ...       ...
150  A0@1  A1@46  A2@1    A3@2  ...  A15@242  A16@3.3  A17@50     A18@2
151  A0@2  A1@44  A2@1    A3@2  ...  A15@142  A16@4.3   A17@?     A18@2
152  A0@2  A1@61  A2@1    A3@1  ...   A15@20  A16@4.1   A17@?     A18@2
153  A0@2  A1@53  A2@2    A3@1  ...   A15@19  A16@4.1  A17@48     A18@2
154  A0@1  A1@43  A2@1    A3@2  ...   A15@19  A16@3.1  A17@42     A18@2

[155 rows x 19 columns]

In [16]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, stratify = df['class'], test_size = .2)

In [17]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_train.csv")
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_test.csv")

For RP-growth Data

In [18]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [19]:
uni

          0
0      A0@2
1      A0@1
2     A1@30
3     A1@50
4     A1@78
..      ...
326  A17@35
327  A17@48
328  A17@42
329   A18@1
330   A18@2

[331 rows x 1 columns]

In [20]:
my_dict = uni.to_dict()

In [21]:
my_dict

{0: {0: 'A0@2',
  1: 'A0@1',
  2: 'A1@30',
  3: 'A1@50',
  4: 'A1@78',
  5: 'A1@31',
  6: 'A1@34',
  7: 'A1@51',
  8: 'A1@23',
  9: 'A1@39',
  10: 'A1@32',
  11: 'A1@41',
  12: 'A1@47',
  13: 'A1@38',
  14: 'A1@66',
  15: 'A1@40',
  16: 'A1@22',
  17: 'A1@27',
  18: 'A1@42',
  19: 'A1@25',
  20: 'A1@49',
  21: 'A1@58',
  22: 'A1@61',
  23: 'A1@62',
  24: 'A1@26',
  25: 'A1@35',
  26: 'A1@37',
  27: 'A1@20',
  28: 'A1@65',
  29: 'A1@52',
  30: 'A1@33',
  31: 'A1@56',
  32: 'A1@28',
  33: 'A1@36',
  34: 'A1@44',
  35: 'A1@64',
  36: 'A1@45',
  37: 'A1@57',
  38: 'A1@24',
  39: 'A1@67',
  40: 'A1@59',
  41: 'A1@60',
  42: 'A1@48',
  43: 'A1@54',
  44: 'A1@7',
  45: 'A1@69',
  46: 'A1@72',
  47: 'A1@70',
  48: 'A1@46',
  49: 'A1@53',
  50: 'A1@43',
  51: 'A2@2',
  52: 'A2@1',
  53: 'A3@1',
  54: 'A3@2',
  55: 'A3@?',
  56: 'A4@2',
  57: 'A4@1',
  58: 'A5@2',
  59: 'A5@1',
  60: 'A5@?',
  61: 'A6@2',
  62: 'A6@1',
  63: 'A6@?',
  64: 'A7@2',
  65: 'A7@1',
  66: 'A7@?',
  67: 'A8@1',
  68: 'A8@2',
  69: 'A8@?',
  70: 'A9@2',
  71: 'A9@1',
  72: 'A9@?',
  73: 'A10@2',
  74: 'A10@1',
  75: 'A10@?',
  76: 'A11@2',
  77: 'A11@1',
  78: 'A11@?',
  79: 'A12@2',
  80: 'A12@1',
  81: 'A12@?',
  82: 'A13@2',
  83: 'A13@?',
  84: 'A13@1',
  85: 'A14@85',
  86: 'A14@135',
  87: 'A14@96',
  88: 'A14@46',
  89: 'A14@?',
  90: 'A14@95',
  91: 'A14@78',
  92: 'A14@59',
  93: 'A14@81',
  94: 'A14@57',
  95: 'A14@72',
  96: 'A14@102',
  97: 'A14@62',
  98: 'A14@53',
  99: 'A14@70',
  100: 'A14@48',
  101: 'A14@133',
  102: 'A14@60',
  103: 'A14@45',
  104: 'A14@175',
  105: 'A14@280',
  106: 'A14@58',
  107: 'A14@67',
  108: 'A14@194',
  109: 'A14@150',
  110: 'A14@180',
  111: 'A14@75',
  112: 'A14@56',
  113: 'A14@71',
  114: 'A14@74',
  115: 'A14@80',
  116: 'A14@191',
  117: 'A14@125',
  118: 'A14@110',
  119: 'A14@50',
  120: 'A14@92',
  121: 'A14@52',
  122: 'A14@26',
  123: 'A14@215',
  124: 'A14@164',
  125: 'A14@103',
  126: 'A14@34',
  127: 'A14@68',
  128: 'A14@82',
  129: 'A14@127',
  130: 'A14@76',
  131: 'A14@100',
  132: 'A14@55',
  133: 'A14@167',
  134: 'A14@30',
  135: 'A14@179',
  136: 'A14@141',
  137: 'A14@44',
  138: 'A14@165',
  139: 'A14@118',
  140: 'A14@230',
  141: 'A14@107',
  142: 'A14@40',
  143: 'A14@147',
  144: 'A14@114',
  145: 'A14@84',
  146: 'A14@123',
  147: 'A14@168',
  148: 'A14@86',
  149: 'A14@138',
  150: 'A14@155',
  151: 'A14@63',
  152: 'A14@256',
  153: 'A14@119',
  154: 'A14@139',
  155: 'A14@90',
  156: 'A14@160',
  157: 'A14@158',
  158: 'A14@115',
  159: 'A14@243',
  160: 'A14@181',
  161: 'A14@130',
  162: 'A14@166',
  163: 'A14@295',
  164: 'A14@120',
  165: 'A14@65',
  166: 'A14@109',
  167: 'A14@89',
  168: 'A14@126',
  169: 'A15@18',
  170: 'A15@42',
  171: 'A15@32',
  172: 'A15@52',
  173: 'A15@200',
  174: 'A15@28',
  175: 'A15@?',
  176: 'A15@48',
  177: 'A15@120',
  178: 'A15@30',
  179: 'A15@249',
  180: 'A15@60',
  181: 'A15@144',
  182: 'A15@89',
  183: 'A15@53',
  184: 'A15@166',
  185: 'A15@20',
  186: 'A15@98',
  187: 'A15@63',
  188: 'A15@46',
  189: 'A15@55',
  190: 'A15@25',
  191: 'A15@58',
  192: 'A15@29',
  193: 'A15@92',
  194: 'A15@150',
  195: 'A15@68',
  196: 'A15@14',
  197: 'A15@16',
  198: 'A15@90',
  199: 'A15@86',
  200: 'A15@110',
  201: 'A15@80',
  202: 'A15@420',
  203: 'A15@44',
  204: 'A15@65',
  205: 'A15@145',
  206: 'A15@31',
  207: 'A15@78',
  208: 'A15@59',
  209: 'A15@38',
  210: 'A15@75',
  211: 'A15@64',
  212: 'A15@54',
  213: 'A15@43',
  214: 'A15@33',
  215: 'A15@15',
  216: 'A15@39',
  217: 'A15@182',
  218: 'A15@271',
  219: 'A15@45',
  220: 'A15@100',
  221: 'A15@242',
  222: 'A15@24',
  223: 'A15@224',
  224: 'A15@69',
  225: 'A15@156',
  226: 'A15@123',
  227: 'A15@117',
  228: 'A15@157',
  229: 'A15@128',
  230: 'A15@23',
  231: 'A15@40',
  232: 'A15@227',
  233: 'A15@269',
  234: 'A15@34',
  235: 'A15@648',
  236: 'A15@225',
  237: 'A15@136',
  238: 'A15@81',
  239: 'A15@153',
  240: 'A15@118',
  241: 'A15@231',
  242: 'A15@101',
  243: 'A15@278',
  244: 'A15@49',
  245: 'A15@181',
  246: 'A15@140',
  247: 'A15@70',
  248: 'A15@114',
  249: 'A15@173',
  250: 'A15@528',
  251: 'A15@152',
  252: 'A15@142',
  253: 'A15@19',
  254: 'A16@4.0',
  255: 'A16@3.5',
  256: 'A16@?',
  257: 'A16@4.4',
  258: 'A16@3.9',
  259: 'A16@3.7',
  260: 'A16@4.9',
  261: 'A16@2.9',
  262: 'A16@4.3',
  263: 'A16@4.1',
  264: 'A16@4.2',
  265: 'A16@4.7',
  266: 'A16@3.8',
  267: 'A16@2.7',
  268: 'A16@4.6',
  269: 'A16@5.0',
  270: 'A16@3.3',
  271: 'A16@4.5',
  272: 'A16@3.4',
  273: 'A16@3.1',
  274: 'A16@3.0',
  275: 'A16@2.6',
  276: 'A16@5.3',
  277: 'A16@4.8',
  278: 'A16@2.8',
  279: 'A16@3.6',
  280: 'A16@2.1',
  281: 'A16@6.4',
  282: 'A16@2.4',
  283: 'A16@2.2',
  284: 'A17@?',
  285: 'A17@80',
  286: 'A17@75',
  287: 'A17@85',
  288: 'A17@54',
  289: 'A17@52',
  290: 'A17@78',
  291: 'A17@46',
  292: 'A17@63',
  293: 'A17@62',
  294: 'A17@64',
  295: 'A17@39',
  296: 'A17@100',
  297: 'A17@47',
  298: 'A17@70',
  299: 'A17@36',
  300: 'A17@40',
  301: 'A17@74',
  302: 'A17@60',
  303: 'A17@73',
  304: 'A17@90',
  305: 'A17@21',
  306: 'A17@77',
  307: 'A17@29',
  308: 'A17@41',
  309: 'A17@66',
  310: 'A17@57',
  311: 'A17@56',
  312: 'A17@76',
  313: 'A17@58',
  314: 'A17@84',
  315: 'A17@38',
  316: 'A17@67',
  317: 'A17@31',
  318: 'A17@51',
  319: 'A17@23',
  320: 'A17@72',
  321: 'A17@32',
  322: 'A17@30',
  323: 'A17@0',
  324: 'A17@50',
  325: 'A17@43',
  326: 'A17@35',
  327: 'A17@48',
  328: 'A17@42',
  329: 'A18@1',
  330: 'A18@2'}}

In [22]:
my_dict = my_dict[0]

In [23]:
new_dict = dict((value, key) for key, value in my_dict.items())

In [24]:
for col in train:
    train[col] = train[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
train

     class  AGE  SEX  STEROID  ...  SGOT  ALBUMIN  PROTIME  HISTOLOGY
11       0   10   52       54  ...   179      259      288        329
36       0    8   52       54  ...   194      263      304        329
102      0   17   52       53  ...   232      274      309        330
91       1   18   52       53  ...   189      270      284        330
43       0   31   52       53  ...   169      257      296        329
..     ...  ...  ...      ...  ...   ...      ...      ...        ...
31       1   23   52       53  ...   180      256      284        329
72       0    7   52       54  ...   218      257      284        329
127      1    3   52       54  ...   210      282      321        330
117      0    3   52       54  ...   238      258      293        330
24       0   19   51       53  ...   169      262      298        329

[124 rows x 19 columns]

In [26]:
for col in test:
    test[col] = test[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_train.csv")
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_test.csv")